.form-container {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

input {
    height: 5vh;
    text-align: center;
}

.image-container {
    position: relative;
    float: left;
    width: 170px;
    height: 154px;
    overflow: hidden;
    margin-right: 15px;
    margin: 10px 30px;
    border: none;
    box-shadow: 2vh 2vh 4vh #82FF9E;
}

.image-container input {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    opacity: 0;
}

.imageLoader {
    padding: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list:hover {
    cursor: pointer;
}

button {
    margin: 2vh;
    background-color: #474647;
    border: none;
    box-shadow: 2vh 2vh 4vh #82FF9E;
    padding: 2vh;
    color: #82FF9E;
    border-radius: 4vh;
}